.custom-search-banner-wrap {
  h1 {
    font-size: 2.5em !important;
  }

  p {
    font-weight: normal;
    font-size: $font-up-1;
  }
}

html body {
  background: #fff !important;
}

.combo-box-header.tag-drop-header {
  display: flex !important;
}

.select-kit-filter.is-expanded {
  display: none !important;
}

.list-container {

  .category-logo {
    width: 3em !important;
    height: 3em !important;
  }
}

.discourse-tag.box {
  position: static;
}

.topic-list-body .tag-icon {
  position: absolute;
  left: -25px;
  font-size: 2em;
  top: 20px;
}

.topic-list-body .tag-icon {
  position: absolute;
  left: 3%;
  font-size: 2em;
  top: 19%;
}

.d-header #site-logo {
  height: 7em;
  min-height: 5em;
  margin-left: 0;
}

.list-container {
  margin-top: 0 !important;
}


.custom-category-boxes-container h1 {
  font-size: 1.2em;
}

.custom-category-boxes-container h1:nth-child(1) {
  margin-top: 1em !important;
}


.custom-category-boxes-container h1 {
  margin-top: 2em;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
}

#navigation-bar {
  order: 1;
  flex: 1 1 100%;
  margin: 2em 0 0 0;
}

.list-controls .nav-pills > li {
  border: none !important;
}

.search-context {
  display: none;
}

.navigation-controls {
  margin-left: auto;
}

.navbar-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;

  li {
    padding: .5em;
  }
}

#create-topic {
  position: fixed;
  bottom: 32px;
  rotate: 0;
  right: 10px;
  background: #a2c668;
  z-index: 999;
}

.topic-category-logo {
  width: 17%;
}

.docs-items.docs-categories {
  display: none !important;
}

.category .topic-list .link-bottom-line {
  position: absolute;
  right: 0;
  bottom: 5px;

  .badge-category-bg {
    display: none !important;
  }
}

.topic-list .topic-excerpt {
  width: 100% !important;
  margin-bottom: 1em;
}

.badge-wrapper .badge-category .category-name {
  text-transform: lowercase;
}

.categories-admin-dropdown, .navigation-controls {
  position: fixed;
  top: 100px;
  right: 0;
}

.avigation-container {
  margin-top: 2em !important;
}

.categories-list #create-topic {

  display: none !important;
}

.search-banner {
  display: none;
}

.topic-list .main-link a.title {
  color: var(--primary) !important;
  padding: 0.5em 0 1.2em 0;
  font-size: var(--font-up-1)
}

.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner {
  padding: .3em .3em;
  height: 100px !important;
}

.category-details {
  margin-left: 1em;
}

.category-notifications-button {
  display: none !important;
}


.category-heading p {
  font-size: var(--font-up-2);
  margin-bottom: 0.75em;

}

#list-area {
  margin-bottom: 1em;
}

.main-content.mobile {
  margin-bottom: 0 !important;
}

.category-heading {
  display: flex;
  width: 100%;
  align-items: center;
}

.category-logo {
  width: 4em !important;
  height: 4em !important;
}

.background-container {
  background-size: cover !important;
  //background-position: 0 0 !important;
}

//body:not(.static-tos):not(.static-faq):not(.static-privacy):not(.about-page):not(.static-faq):not(.badges-page):not(.tags-page):not(.archetype-regular):not(.archetype-private_message):not(.admin-interface):not(.edit-category):not(.user-summary-page):not(.user-activity-page):not(.user-invites-page):not(.user-preferences-page)

.topic-list-item {
  margin-bottom: 1em !important
}

#create-topic {
  //background: #8dd247 !important
}

.full-width .contents .topic-list .topic-list-body .topic-list-item .topic-list-data.main-link {
  width: 90% !important;
}

#main-outlet {
  //width: calc(100% - 1em);
  background: var(--secondary) !important;
  width: 90% !important;
  border-radius: 0 !important;
  box-shadow: none;
  margin-bottom: 0 !important;
  padding: 5% 5% 0 5% !important;
}


#topic-footer-buttons {
  display: flex;
  justify-content: center;
}

.topic-navigation.with-topic-progress {
  display: none !important;
}


.list-container {
  margin-top: 5%;
}


.topic-list-item {
  .posts-count {
    display: flex;
    align-items: baseline;
    align-self: flex-end;
    position: absolute;
    bottom: -10px;
    font-size: .7em;
  }
}

//.topic-list-data .avatar {
//  position: absolute;
//  left: 0px;
//  top: 0px;
//}

html body.static-tos #main-outlet,
html body.static-privacy #main-outlet,
html body.about-page #main-outlet,
html body.static-faq #main-outlet,
html body.tags-page #main-outlet,
html body.badges-page #main-outlet,
html body.archetype-regular #main-outlet,
html body.archetype-private_message #main-outlet,
html body.admin-interface #main-outlet,
html body.user-summary-page #main-outlet,
html body.user-activity-page #main-outlet,
html body.user-invites-page #main-outlet,
html body.user-preferences-page #main-outlet,
html body.staff:not(.navigation-topics) #main-outlet {
  border-radius: 0px;
  width: calc(100% - 3em);
  background-color: var(--secondary);
  margin-bottom: 0px;
}

.container.posts > .row {
  max-width: calc(100vw - 1.5em);
}

.navigation-categories .navigation-container,
.categories-list .navigation-container {
  border-bottom: 0px !important;
}

body.category .category-breadcrumb .select-kit-header,
#navigation-bar,
.navigation-controls {
  //margin-bottom: 0.5em !important;
}

.category-breadcrumb {
  display: flex !important;
}

body.category .navigation-categories .list-container,
.categories-list .list-container {
  padding-top: 1em !important;
}

ol.category-breadcrumb {
  margin-top: 1em;
}

.list-controls .nav-pills {
  li.navigation-toggle {
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);

    a:hover,
    a:focus {
      color: var(--primary);
      background-color: var(--secondary);
    }
  }

  .drop {
    top: calc(100% + 0.5em);
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
}

.topic-list .topic-list-data {
  padding: 1em 1em 0 1em;
  width: calc(100% - 2em);
  max-width: unset;
}

.custom-search-banner-wrap .search-context {
  top: 3em !important;
}

.top-lists {
  background-color: var(--secondary);
  border-radius: 8px;
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-bottom: 0.5em;
}

.users-directory.directory,
.reviewable {
  width: 100%;
  background-color: var(--secondary);
  margin-left: -0.5em;
  padding: 0 0.5em;
}

.tag-groups-container {
  background: var(--secondary);
  padding: 2em 1em;
  border-radius: 0.25em;
  margin-top: 1em;
}

.topic-list-bottom {
  margin-top: 5em;
}